# Virtual Environments
pred-weather/
venv/
env/
.env

# Python Cache & Logs
__pycache__/
*.pyc
*.log

# Large Data & Results
results/
exports/
weather_cache/
*.xlsx
*.csv
pred-weather/
__pycache__/
*.pyc
